
{% extends 'mailing/base.html' %}
{% block content %}

<div class = "container my-2">
    <table class="table table-striped table-hover">
        <div class="alert alert-info" role="alert">
            <h4>Количество рассылок: {{ mailings.count }} шт.</h4>
            <h4>Активных рассылок: {{ active_mailings }} шт.</h4>
            <h4>Количество уникальных получателей: {{ unique_recipients }} шт.</h4>
        </div>

        {% for mailing in mailings %}
            <article>

                <h2><a href="{% url 'mailing:mailing_detail' mailing.id %}" style="font-size: 18px; color: gray;">{{ mailing.message }}</a></h2>
                <div class="d-flex align-items-center justify-content-between">
                    <ul class="list-inline">
                        <li class="list-inline-item">Статус : {{ mailing.get_status_display }}</li>
                        <li class="list-inline-item">Дата и время первой отправки : {{ mailing.date_and_time_first_launched }}</li>
                        <li class="list-inline-item">Дата и время окончания отправки : {{ mailing.date_and_time_finish_launched }}</li>
                    </ul>
                    <a href="{% url 'mailing:manual_launch' mailing.id %}" class="btn btn-success ml-0">Запустить вручную</a>
                </div>
            </article>
        {% empty %}
            <p>Пока здесь нет ни одной записи!</p>
        {% endfor %}

        <a href="{% url 'mailing:mailing_create' %}" class="btn btn-primary mt-3 me-2">Создать рассылку</a>
        <a href="{% url 'mailing:update_statuses' %}" class="btn btn-info mt-3"> Обновить статусы</a>

    </table>
</div>
{% endblock %}
