{% extends 'mailing/base.html' %}
{% block content %}

<div class = "container my-2">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
        <h1>Количество сообщений: {{ mail.count }} шт.</h1>
        {% for post in posts %}
            <article>
                <h2><a href="{% url 'mail:mail_detail' mail.id %}" style="font-size: 18px; color: black;">{{ mail.subject_letter }}</a></h2>
<!--                <h5>{{ post.title }}</h5>-->
<!--                <p>{{ post.content}}</p>-->
<!--                <a class="p-2 btn btn-outline-primary" href="{% url 'blog:post_detail' post.id %}">Просмотр поста</a>-->
            </article>
        {% empty %}
            <p>Пока здесь нет ни одной записи!</p>

        {% endfor %}
        <a href="{% url 'mail:mail_create' %}" class="btn btn-primary mt-3">Создать сообщение</a>

        </div>
    </div>
</div>
{% endblock %}