{% extends 'mailing/base.html' %}
{% block content %}

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col'>
            <form class = "row" method = "post" enctype="multipart/form-data">
                <div class = "card">
                    <div class = "card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <nav class = "ms -5">
                         <button type="submit" class="btn btn-primary">Разместить</button>
                         <a class="p-2 btn btn-outline-primary" href="{% url 'mail:mail_list'%}">Вернуться</a>
                    </nav>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}